/* ------- GENERAL ------- */
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* ------- MAIN MENU ------- */
.web-studio {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #212121;
}
.active-link-color {
  color: #2196f3;
}
.active-link:hover,
.active-link:focus {
  color: #2196f3;
}
.contact-information {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #757575;
}
/* ------- HERO ------- */
.hero-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /* color: #ffffff; */
}
.modal-button {
  background: #188ce8;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
}
/* ------- FUTURES ------- */
.futures {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.futures-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}
/* ------- WHAT WE DO ------- */
.employment {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
/* ------- TEAM ------- */
.employs {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: #212121;
}
.employs-profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: #757575;
}
/* ------- FOOTER ------- */
.address-font {
  font-style: normal;
}

.footer-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  /* color: #ffffff; */
}
.footer-links {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  /* color: rgba(255, 255, 255, 0.6); */
}
.footer-address,
.footer-links:hover,
.footer-address,
.footer-links:focus {
  color: #2196f3;
}
/* /////////////// PORTFOLIO //////////// */
.button-type {
  cursor: pointer;
}
.portfolio-buttons {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.portfolio-buttons:hover,
.portfolio-buttons:focus {
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #ffffff;
}
/* ------- PROJECTS ------- */
.project-description {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}
.project-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}
/* ------- FOOTER ------- */
