/* ------- GENERAL ------- */
:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --primaary-text-color: #212121;
  --main-color: #ffffff;
  --secondary-text-color: #757575;
  --button-color: #2196f3;
  --button-background-color: #188ce8;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

body {
  font-family: var(--primary-font);
  background-color: #ffffff;
  color: var(--secondary-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}
/* ------- MAIN MENU ------- */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.web-studio {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--button-color);
}
.menu-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primaary-text-color);
}
.active-link {
  color: var(--button-color);
}
.modal-button:hover,
.modal-button:focus {
  background-color: var(--button-background-color);
}
.menu-link:hover,
.menu-link:focus,
.active-link:hover,
.active-link:focus {
  color: var(--button-color);
}
.contact-information {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
/* ------- HERO ------- */
.hero-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.modal-button {
  background-color: #188ce8;
  font-family: inherit;
  cursor: pointer;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  background-color: var(--button-color);
  color: #ffffff;
}
/* ------- FUTURES ------- */
.futures {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primaary-text-color);
}
.futures-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/* ------- WHAT WE DO ------- */
.employment {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primaary-text-color);
}
/* ------- TEAM ------- */
.employs {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: var(--primaary-text-color);
}
.employs-profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/* ------- FOOTER ------- */
.address-font {
  font-style: inherit;
}
.footer-adress-color {
  color: #ffffff;
}

.footer-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}
.footer-links {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-address,
.footer-links:hover,
.footer-address,
.footer-links:focus {
  color: var(--button-color);
}
/* /////////////// PORTFOLIO //////////// */
.portfolio-buttons {
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primaary-text-color);
  background-color: #f5f4fa;
}
.portfolio-buttons:hover,
.portfolio-buttons:focus {
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
}
/* ------- PROJECTS ------- */
.project-description {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primaary-text-color);
}
.project-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/* ------- FOOTER ------- */
